[worldserver]

########################################
# Mikes Player Bot Morphs configuration
########################################
#
#    MPBMorphs.Enable
#        Description: Enable/Disable the module
#        Default:     0 - Disabled
#                     1 - Enabled
#

MPBMorphs.Enable = 1
MPBMorphs.BEMaleMorphNames = "Ronen"
MPBMorphs.AlexstrazaMorphNames = "Liara"
MPBMorphs.VeeresaMorphNames = "Mihoyo"
MPBMorphs.SylvanasMorphNames = "Narya"
MPBMorphs.DraeneiFemaleMorphNames = "Artoria"
MPBMorphs.CharacterNamesToScaleUp = "Gene"
