#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Custom Spells configuration
########################################
#
#    CustomSpells.Enable
#        Description: Enable my module and print "Hello World" message at server start
#        Default:     0 - Disabled
#                     1 - Enabled
#

CustomSpells.Enable = 1
CustomSpells.CharacterNamesToApplyMorphsTo = "Gene,Ronen,Liara,Mizora,Mihoyo,Mystra,Narya,Sylvanaz,Artoria"
CustomSpells.DisplayIdsToApplyToCharacters = "20578,20578,28227,28227,28222,28222,28213,28213,20323"
