[worldserver]

########################################
#  Character Morphs configuration
########################################
#
#    CharacterMorphs.Enable
#        Description: Enable/Disable the module
#        Default:     0 - Disabled
#                     1 - Enabled
#

CharacterMorphs.Enable = 1
CharacterMorphs.GenericMorphSpellId = 200056
CharacterMorphs.HeroAuraSpellId = 200046
CharacterMorphs.GrowAuraSpellId = 200017
CharacterMorphs.ShrinkAuraSpellId = 200018
CharacterMorphs.CharactersToApplyGenericMorphAuraTo = "Gene,Ronen,Liara,Mizora,Mihoyo,Mystra,Narya,Sylvanaz,Artoria"
CharacterMorphs.CharacterNamesToApplyHeroAuraTo = "Gene,Ronen"
CharacterMorphs.CharacterNamesToApplyGrowAuraTo = "Gene,Ronen"
CharacterMorphs.CharacterNamesToApplyShrinkAuraTo = "Liara,Mizora"

